<!DOCTYPE html>
<html>
    <head>
        <title>PaganStore</title>
        <%= stylesheet_link_tag 'man_index.css', media: 'all', 'data-turbolinks-track' => true  %>
        <%= javascript_include_tag 'man_index.js'  %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    </head>
    <%= yield %>
